
# special file
.*
!.gitignore
!.python-version
!.vitis-version
!.github

# private file
_*
*_
*_.*

# backup
backup/
*.bak
*.back
Untitled.*
* copy
* copy.*
*コピー
*コピー.*

# media file
*.bmp
*.png
*.jpg
*.pgm
*.ppm
*.mp4
*.avi

# binary file
*.out
*.elf
*.o
*.so
*.exe
*.obj
*.lib
*.bin
*.dtb
*.dtbo
*.bit
*.ltx
*.xsa

# wave file
*.wdb
*.vcd
*.fst
*.hier
*.gtkw
*.gtkwave
*.ila

# coverage file
annotated/
coverage.dat


# data file
*.hex
*.csv
*.json
*.pickle

# archive
*.tar
*.gz
*.tgz
*.zip
*.7z

# Xilinx
xsim.dir/
xst/
iseconfig/
_xmsgs/
*.Xil/
*.cache/
*.hw/
*.runs/
*.sdk/
*.sim/
*.srcs/
*.gen/
*.gise
*.ip_user_files/
*.ioplanning/
NA/

# other
*.dump
*.das
*.ncb
*.opt
*.plg
*.html
*.lso
*.ngc
*.ngr
*.stx
*.syr
*.cmd_log
*.xst
*.xrpt
*.jou
*.log
*.pb
*.sdf
*.suo
*.xml
*.prj
*.out
*.das
*.map
*.opensdf
*.db
*.str
*.dcp
*.veo
*.vho
*.btree
*.bgn
*.bld
*.drc
*.ncd
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xwbt
*.ncd
*.mrp
*.ncd
*.ngm
*.psr
*.xbcd
*.lst
*.lnk
*.vvp
*.deb
*_tcl.xpr
*_log.txt

.vs/
obj_dir/
logs/
annotated/
build/
Debug/
Release/

.ipynb_checkpoints/
doc/build/
workspace/
backup/
target/
